/* NOTE: !important is used to overwrite bootstrap imported styles */

/* Making the container match the jumbotron in spacing */
.container-fluid {
  padding: 3rem 2rem !important;
}

/* Overwriting the 'bg-dark' for container background purposes */
.container-fluid.bg-dark {
  background-color: #e9ecef !important;
}

/* Styles for the page title */
.page-title {
  margin-bottom: 0 !important;
}
.page-title .blockquote-footer.lead {
  font-size: 1.25rem;
}

/* Styles for the section title */
.section-title.lead {
  border-bottom: 1px solid transparent;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
