/* NOTE: !important is used to overwrite bootstrap imported styles */

/* Animations for Routing */
.animated-switch-wrapper {
  position: relative;
}
.animated-switch-wrapper > div {
  position: absolute;
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito' !important;
}

p {
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Adding .display-5 to the Bootstrap display line-up */
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* Adding .mb-6 to the Bootstrap spacing line-up */
.mb-6 {
  margin-bottom: 4rem !important;
}

/* Stretching the Bootstrap's container */
@media (min-width: 1200px) {
  .container {
    max-width: 1500px !important;
  }
}

/* Overwriting the cursor type for buttons and nav-link */
.nav-link,
.btn {
  cursor: pointer;
}

/* Making the container match the jumbotron in spacing */
.container-fluid {
  padding: 3rem 2rem !important;
}
.container {
  padding: 3rem 6rem !important;
}

/* Overwriting the 'bg-dark' for container background purposes */
.container-fluid.bg-dark,
.container.bg-dark {
  background-color: #e9ecef !important;
}

/* Styles for the page title */
.page-title,
.post-title {
  margin-bottom: 0 !important;
  /*font-family: 'Roboto';*/
}
.page-title .blockquote-footer.lead {
  font-size: 1.25rem;
}

/* Styles for the post title */
.post-title p {
  font-weight: 600;
}
.post-title p span {
  border-left: 1px solid transparent;
}
.post-title p span:first-of-type {
  border-left-color: transparent !important;
}

/* Styles for the section title */
.section-title.lead {
  border-bottom: 1px solid transparent;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Styles for category list */
.categories-list {
  padding-top: 5rem !important;
  padding-bottom: 4rem !important;
}

/* Styles for category card */
.category-card {
  font-family: 'Raleway';
  font-weight: 600;
  color: inherit;
  display: block;
  box-shadow: 0px 30px 90px rgba(0, 0, 0, 0.14);
}
.category-card:hover {
  color: inherit;
  text-decoration: none;
}
.category-card .card {
  border: 0;
}
.category-card .card-image {
  overflow: hidden;
}
.category-card .card-image img {
  transform: scale(1);
  transition: 0.7s transform ease;
}
.category-card:hover .card-image img {
  transform: scale(1.07);
}
.category-card .card-body {
  padding: 2.25rem !important;
}
.category-card .card-body .card-title {
  font-size: 1.75rem;
}
.category-card .card-body .card-text {
  font-size: 1.2rem;
}

/* Styles for the post-body and comment-body */
.post-body,
.comment-card {
  line-height: 2;
  word-wrap: break-word;
}

/* Styles for the post-actions */
.post-actions {
  align-items: center;
  border-bottom: 1px solid #0069d9;
  border-top: 1px solid #0069d9;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}
.post-actions .col {
  align-items: center;
  border-right: 1px solid #0069d9;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding: 0;
}
.post-actions .col:last-of-type {
  border-right: 0;
}
.post-actions .col > .btn {
  border-radius: 0;
  padding: 3rem 2rem !important;
  width: 100%;
  border-color: transparent;
}
.post-actions .col > .btn:hover {
  border-color: transparent;
}

/* Styles for the post-leave-a-reply */
.post-leave-a-reply {
  border-top: 1px solid #ced4da;
}

/* Styles for the comment-card */
.comment-card.card {
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}
.comment-card.card:last-of-type {
  border-bottom: 0;
}
.comment-card .card-body {
  padding: 2rem 1.25rem;
}
.comment-card .comment-author,
.comment-card .list-inline {
  margin: 0;
}
.comment-card .comment-body {
  margin-top: 10px;
}
.comment-card .comment-meta {
  color: #888;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-card .comment-meta .comment-actions button {
  padding: 0;
  /*background: ;*/
}

/* Styles for the comment-reply-form */
.comment-reply-form .form-actions,
.comment-reply-form .form-author {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

/* Overwriting global form-control (inputs) */
.form-control:not(select) {
  border-radius: 0 !important;
  padding: 0.7rem 1rem !important;
}

.select-field select,
.select-field option {
  text-transform: capitalize;
}

/* Styles for the modals */
.delete-comment-modal .modal-title,
.delete-post-modal .modal-title {
  font-size: 1.25rem;
  font-weight: 400;
}
.delete-comment-modal .modal-body p,
.delete-post-modal .modal-body p {
  margin-bottom: 0;
}
.delete-comment-modal .modal-body p span,
.delete-post-modal .modal-body p span {
  font-weight: 600;
}
