/* NOTE: !important is used to overwrite bootstrap imported styles */

/* Making the container match the jumbotron in spacing */
.container-fluid,
.container {
  padding: 3rem 2rem !important;
}

/* Overwriting the 'bg-dark' for container background purposes */
.container-fluid.bg-dark,
.container.bg-dark {
  background-color: #e9ecef !important;
}

/* Styles for the page title */
.page-title,
.posts-title {
  margin-bottom: 0 !important;
}
.page-title .blockquote-footer.lead {
  font-size: 1.25rem;
}

/* Styles for the posts title */
.posts-title p {
  font-weight: 600;
}
.posts-title p span {
  border-left: 1px solid transparent;
}
.posts-title p span:first-of-type {
  border-left-color: transparent !important;
}

/* Styles for the section title */
.section-title.lead {
  border-bottom: 1px solid transparent;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
