.container-fluid {
  padding: 0 2rem;
}

.section-title.lead {
  border-bottom: 1px solid rgba(52, 58, 64, 0.3);
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
